node_modules
dist
coverage
*.tsbuildinfo

.DS_Store
*.log
npm-debug.log*
.env
.env.local
.env.*.local

.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

specs/openapi.prev.json
.sync-report.md

.turbo
.cache
