node_modules
dist
coverage
*.tsbuildinfo

.DS_Store
*.log
npm-debug.log*
.env
.env.local
.env.*.local

.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

specs/*.prev.json
.sync-report.md
packages/tochka-sdk/README.md
packages/tochka-sdk/LICENSE

.turbo
.cache
