{
  "openapi": "3.1.0",
  "info": {
    "title": "Tochka.API",
    "description": "Подключая API, вы соглашаетесь на условия [оферты](https://tochka.com/links/offer-open-api)\n\n[Скачать](https://enter.tochka.com/doc/openapi/swagger.json) OpenAPI спецификацию\n",
    "version": "v1.90.3-stable"
  },
  "servers": [
    {
      "url": "https://enter.tochka.com/uapi/",
      "description": "Продуктовая среда"
    },
    {
      "url": "https://enter.tochka.com/sandbox/v2/",
      "description": "Песочница"
    }
  ],
  "paths": {
    "/acquiring/v1.0/payments": {
      "get": {
        "tags": [
          "Работа с платёжными ссылками"
        ],
        "summary": "Get Payment Operation List",
        "description": "Метод для получения списка операций\n\n- *CREATED* - Операция создана\n- *APPROVED* - Операция одобрена (оплата прошла успешно)\n- *ON-REFUND* - Операция заблокирована на время выполнения возврата\n- *REFUNDED* - Осуществлен возврат\n- *EXPIRED* - Истек срок действия",
        "operationId": "get_payment_operation_list_acquiring_v1_0_payments_get",
        "security": [
          {
            "Необходимые разрешения": [
              "ReadAcquiringData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customercode"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          },
          {
            "name": "fromDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Начало периода создания операций",
              "title": "Fromdate"
            },
            "description": "Начало периода создания операций",
            "example": "2020-01-20"
          },
          {
            "name": "toDate",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Конец периода создания операций",
              "title": "Todate"
            },
            "description": "Конец периода создания операций",
            "example": "2020-01-20"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Номер страницы",
              "default": 1,
              "title": "Page"
            },
            "description": "Номер страницы"
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Количество записей на странице",
              "default": 1000,
              "title": "Perpage"
            },
            "description": "Количество записей на странице"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/AcquiringPaymentStatus",
              "description": "Статус операции"
            },
            "description": "Статус операции"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringGetPaymentOperationListResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Работа с платёжными ссылками"
        ],
        "summary": "Create Payment Operation",
        "description": "Метод для создания ссылки на оплату",
        "operationId": "create_payment_operation_acquiring_v1_0_payments_post",
        "security": [
          {
            "Необходимые разрешения": [
              "MakeAcquiringOperation"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcquiringCreatePaymentOperationRequestDataModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringCreatePaymentOperationResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/acquiring/v1.0/payments/{operationId}": {
      "get": {
        "tags": [
          "Работа с платёжными ссылками"
        ],
        "summary": "Get Payment Operation Info",
        "description": "Метод для получения информации о конкретной операции\n\n- *CREATED* - Операция создана\n- *APPROVED* - Операция одобрена (оплата прошла успешно)\n- *ON-REFUND* - Операция заблокирована на время выполнения возврата\n- *REFUNDED* - Осуществлен возврат\n- *EXPIRED* - Истек срок действия",
        "operationId": "get_payment_operation_info_acquiring_v1_0_payments__operationId__get",
        "security": [
          {
            "Необходимые разрешения": [
              "ReadAcquiringData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Идентификатор платежа",
              "title": "Operationid"
            },
            "description": "Идентификатор платежа",
            "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringGetPaymentOperationInfoResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/acquiring/v1.0/payments/{operationId}/capture": {
      "post": {
        "tags": [
          "Работа с платёжными ссылками"
        ],
        "summary": "Capture Payment",
        "description": "Метод для списания средств при двухэтапной оплате",
        "operationId": "capture_payment_acquiring_v1_0_payments__operationId__capture_post",
        "security": [
          {
            "Необходимые разрешения": [
              "MakeAcquiringOperation"
            ]
          }
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Идентификатор подписки",
              "title": "Operationid"
            },
            "description": "Идентификатор подписки",
            "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringCapturePaymentResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/acquiring/v1.0/payments/{operationId}/refund": {
      "post": {
        "tags": [
          "Работа с платёжными ссылками"
        ],
        "summary": "Refund Payment Operation",
        "description": "Метод для возврата платежей, созданных через платёжную ссылку\nВозврат возможен только для платежа со статусом APPROVED",
        "operationId": "refund_payment_operation_acquiring_v1_0_payments__operationId__refund_post",
        "security": [
          {
            "Необходимые разрешения": [
              "MakeAcquiringOperation"
            ]
          }
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Идентификатор платежа",
              "title": "Operationid"
            },
            "description": "Идентификатор платежа",
            "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcquiringPaymentOrderRefundRequestDataModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringPaymentOperationRefundResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/acquiring/v1.0/payments_with_receipt": {
      "post": {
        "tags": [
          "Работа с платёжными ссылками"
        ],
        "summary": "Create Payment Operation With Receipt",
        "description": "Метод для создания ссылки на оплату и отправки чека",
        "operationId": "create_payment_operation_with_receipt_acquiring_v1_0_payments_with_receipt_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcquiringCreatePaymentOperationWithReceiptRequestDataModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringCreatePaymentOperationWithReceiptResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Необходимые разрешения": [
              "MakeAcquiringOperation"
            ]
          }
        ]
      }
    },
    "/acquiring/v1.0/registry": {
      "get": {
        "tags": [
          "Работа с платёжными ссылками"
        ],
        "summary": "Get Payment Registry",
        "description": "Метод для получения реестра платежей по интернет-эквайрингу",
        "operationId": "get_payment_registry_acquiring_v1_0_registry_get",
        "security": [
          {
            "Необходимые разрешения": [
              "ReadAcquiringData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customercode"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          },
          {
            "name": "merchantId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Идентификатор торговой точки в интернет-эквайринге",
              "title": "Merchantid"
            },
            "description": "Идентификатор торговой точки в интернет-эквайринге",
            "example": "200000000001056"
          },
          {
            "name": "paymentId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Уникальный идентификатор платежа, по которому произошла транзакция",
              "title": "Paymentid"
            },
            "description": "Уникальный идентификатор платежа, по которому произошла транзакция",
            "example": "6d369b30-4a40-4249-aabb-7fc6b561dc7b"
          },
          {
            "name": "date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Дата реестра",
              "title": "Date"
            },
            "description": "Дата реестра",
            "example": "2020-01-20"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringPaymentRegistryResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/acquiring/v1.0/retailers": {
      "get": {
        "tags": [
          "Работа с платёжными ссылками"
        ],
        "summary": "Get Retailers",
        "description": "Метод для получения информации о ретейлере\n\n- *NEW* - Ретейлер создан\n- *ADDRESS_DADATA* - Адрес уточнен\n- *OPEN_ACCOUNT* - Счёт открыт\n- *TWPG_SENDED* - Данные мерчанта и терминала отправлены в процессинг\n- *RETAILER_CREATED* - Мерчант создан в процессинге\n- *TERMINAL_CREATED* - Терминал создан в процессинге\n- *FILE_SENT* - файл отправлен в НСПК\n- *REG* - Зарегистрирован\n- *CLOSE* - Закрыт",
        "operationId": "get_retailers_acquiring_v1_0_retailers_get",
        "security": [
          {
            "Необходимые разрешения": [
              "ReadAcquiringData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customercode"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringRetailerListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/acquiring/v1.0/subscriptions": {
      "post": {
        "tags": [
          "Работа с подписками"
        ],
        "summary": "Create Subscription",
        "description": "Метод для создания подписки по карте",
        "operationId": "create_subscription_acquiring_v1_0_subscriptions_post",
        "security": [
          {
            "Необходимые разрешения": [
              "MakeAcquiringOperation"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcquiringCreateSubscriptionRequestDataModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringCreateSubscriptionResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Работа с подписками"
        ],
        "summary": "Get Subscription List",
        "description": "Метод для получения всех подписок",
        "operationId": "get_subscription_list_acquiring_v1_0_subscriptions_get",
        "security": [
          {
            "Необходимые разрешения": [
              "ReadAcquiringData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customercode"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Номер страницы",
              "default": 1,
              "title": "Page"
            },
            "description": "Номер страницы"
          },
          {
            "name": "perPage",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "description": "Количество записей на странице",
              "default": 1000,
              "title": "Perpage"
            },
            "description": "Количество записей на странице"
          },
          {
            "name": "recurring",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "description": "Получить платежи по рекуррентным подпискам",
              "default": false,
              "title": "Recurring"
            },
            "description": "Получить платежи по рекуррентным подпискам"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringSubscriptionListResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/acquiring/v1.0/subscriptions/{operationId}/charge": {
      "post": {
        "tags": [
          "Работа с подписками"
        ],
        "summary": "Charge Subscription",
        "description": "Метод для списания средств по рекуррентной подписке",
        "operationId": "charge_subscription_acquiring_v1_0_subscriptions__operationId__charge_post",
        "security": [
          {
            "Необходимые разрешения": [
              "MakeAcquiringOperation"
            ]
          }
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Идентификатор подписки",
              "title": "Operationid"
            },
            "description": "Идентификатор подписки",
            "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcquiringChargeSubscriptionRequestDataModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringChargeSubscriptionResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/acquiring/v1.0/subscriptions/{operationId}/status": {
      "post": {
        "tags": [
          "Работа с подписками"
        ],
        "summary": "Set Subscription Status",
        "description": "Метод для установки статуса подписки",
        "operationId": "set_subscription_status_acquiring_v1_0_subscriptions__operationId__status_post",
        "security": [
          {
            "Необходимые разрешения": [
              "MakeAcquiringOperation"
            ]
          }
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Идентификатор подписки",
              "title": "Operationid"
            },
            "description": "Идентификатор подписки",
            "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcquiringSetSubscriptionStatusRequestDataModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringSetSubscriptionStatusResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Работа с подписками"
        ],
        "summary": "Get Subscription Status",
        "description": "Метод для получения актуального статуса подписки",
        "operationId": "get_subscription_status_acquiring_v1_0_subscriptions__operationId__status_get",
        "security": [
          {
            "Необходимые разрешения": [
              "ReadAcquiringData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Идентификатор подписки",
              "title": "Operationid"
            },
            "description": "Идентификатор подписки",
            "example": "48232c9a-ce82-1593-3cb6-5c85a1ffef8f"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringGetSubscriptionStatusResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/acquiring/v1.0/subscriptions_with_receipt": {
      "post": {
        "tags": [
          "Работа с подписками"
        ],
        "summary": "Create Subscription With Receipt",
        "description": "Метод для создания подписки по карте и отправке чека",
        "operationId": "create_subscription_with_receipt_acquiring_v1_0_subscriptions_with_receipt_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcquiringCreateSubscriptionWithReceiptRequestDataModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcquiringCreateSubscriptionWithReceiptResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Необходимые разрешения": [
              "MakeAcquiringOperation"
            ]
          }
        ]
      }
    },
    "/consent/v1.0/consents": {
      "get": {
        "tags": [
          "Работа с разрешениями"
        ],
        "summary": "Get All Consents List",
        "description": "Метод для получения списка разрешений.",
        "operationId": "get_all_consents_list_consent_v1_0_consents_get",
        "security": [
          {
            "Необходимые разрешения": []
          }
        ],
        "parameters": [
          {
            "name": "customer-code",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customer-Code"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Работа с разрешениями"
        ],
        "summary": "Create New Consent",
        "description": "Метод для создания разрешения.",
        "operationId": "create_new_consent_consent_v1_0_consents_post",
        "security": [
          {
            "Необходимые разрешения": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConsentCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/consent/v1.0/consents/{consentId}": {
      "get": {
        "tags": [
          "Работа с разрешениями"
        ],
        "summary": "Get Consent Info",
        "description": "Метод для получения информации о списке разрешений",
        "operationId": "get_consent_info_consent_v1_0_consents__consentId__get",
        "security": [
          {
            "Необходимые разрешения": []
          }
        ],
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный идентификатор, предназначенный для идентификации разрешения",
              "title": "Consentid"
            },
            "description": "Уникальный идентификатор, предназначенный для идентификации разрешения"
          },
          {
            "name": "customer-code",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customer-Code"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/consent/v1.0/consents/{consentId}/child": {
      "get": {
        "tags": [
          "Работа с разрешениями"
        ],
        "summary": "Get All Child Consents",
        "description": "Метод для получения всех дочерних разрешений",
        "operationId": "get_all_child_consents_consent_v1_0_consents__consentId__child_get",
        "security": [
          {
            "Необходимые разрешения": []
          }
        ],
        "parameters": [
          {
            "name": "consentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный идентификатор, предназначенный для идентификации разрешения",
              "title": "Consentid"
            },
            "description": "Уникальный идентификатор, предназначенный для идентификации разрешения"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConsentListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/v1.0/bills": {
      "post": {
        "tags": [
          "Работа с выставлением счетов"
        ],
        "summary": "Create Invoice",
        "description": "Метод для создания счёта на оплату",
        "operationId": "create_invoice_invoice_v1_0_bills_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InvoiceCreateRequestDataModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentCreateResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Необходимые разрешения": [
              "ManageInvoiceData"
            ]
          }
        ]
      }
    },
    "/invoice/v1.0/bills/{customerCode}/{documentId}": {
      "delete": {
        "tags": [
          "Работа с выставлением счетов"
        ],
        "summary": "Delete Invoice",
        "description": "Метод для удаления счёта на оплату",
        "operationId": "delete_invoice_invoice_v1_0_bills__customerCode___documentId__delete",
        "security": [
          {
            "Необходимые разрешения": [
              "ManageInvoiceData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customercode"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный идентификатор документа",
              "title": "Documentid"
            },
            "description": "Уникальный идентификатор документа",
            "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/v1.0/bills/{customerCode}/{documentId}/email": {
      "post": {
        "tags": [
          "Работа с выставлением счетов"
        ],
        "summary": "Send Invoice To Email",
        "description": "Метод для отправки счёта на почту",
        "operationId": "send_invoice_to_email_invoice_v1_0_bills__customerCode___documentId__email_post",
        "security": [
          {
            "Необходимые разрешения": [
              "ManageInvoiceData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customercode"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный идентификатор документа",
              "title": "Documentid"
            },
            "description": "Уникальный идентификатор документа",
            "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendDocumentToEmailRequestDataModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/v1.0/bills/{customerCode}/{documentId}/file": {
      "get": {
        "tags": [
          "Работа с выставлением счетов"
        ],
        "summary": "Get Invoice",
        "description": "Метод для получения файла выставленного счёта",
        "operationId": "get_invoice_invoice_v1_0_bills__customerCode___documentId__file_get",
        "security": [
          {
            "Необходимые разрешения": [
              "ManageInvoiceData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customercode"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный идентификатор документа",
              "title": "Documentid"
            },
            "description": "Уникальный идентификатор документа",
            "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "Invoice": {
                    "summary": "Invoice file",
                    "X-Content-Url": "https://developers.tochka.com/tochka-api/file-response-examples/invoice-example.pdf"
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "description": "Заголовок, содержащий MIME-type файла",
                "example": "application/pdf"
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "Заголовок, содержащий название файла",
                "example": "attachment; filename=document.pdf"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/v1.0/bills/{customerCode}/{documentId}/payment-status": {
      "get": {
        "tags": [
          "Работа с выставлением счетов"
        ],
        "summary": "Get Invoice Payment Status",
        "description": "Метод для получения статуса счёта",
        "operationId": "get_invoice_payment_status_invoice_v1_0_bills__customerCode___documentId__payment_status_get",
        "security": [
          {
            "Необходимые разрешения": [
              "ManageInvoiceData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customercode"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный идентификатор документа",
              "title": "Documentid"
            },
            "description": "Уникальный идентификатор документа",
            "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoicePaymentStatusResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/v1.0/closing-documents": {
      "post": {
        "tags": [
          "Работа с закрывающими документами"
        ],
        "summary": "Create Closing Document",
        "description": "Метод для создания закрывающего документа",
        "operationId": "create_closing_document_invoice_v1_0_closing_documents_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClosingDocumentCreateRequestDataModel"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentCreateResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Необходимые разрешения": [
              "ManageInvoiceData"
            ]
          }
        ]
      }
    },
    "/invoice/v1.0/closing-documents/{customerCode}/{documentId}": {
      "delete": {
        "tags": [
          "Работа с закрывающими документами"
        ],
        "summary": "Delete Closing Documents",
        "description": "Метод для удаления закрывающего документа",
        "operationId": "delete_closing_documents_invoice_v1_0_closing_documents__customerCode___documentId__delete",
        "security": [
          {
            "Необходимые разрешения": [
              "ManageInvoiceData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customercode"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный идентификатор документа",
              "title": "Documentid"
            },
            "description": "Уникальный идентификатор документа",
            "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/v1.0/closing-documents/{customerCode}/{documentId}/email": {
      "post": {
        "tags": [
          "Работа с закрывающими документами"
        ],
        "summary": "Send Closing Documents To Email",
        "description": "Метод для отправки закрывающего документа на почту",
        "operationId": "send_closing_documents_to_email_invoice_v1_0_closing_documents__customerCode___documentId__email_post",
        "security": [
          {
            "Необходимые разрешения": [
              "ManageInvoiceData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customercode"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный идентификатор документа",
              "title": "Documentid"
            },
            "description": "Уникальный идентификатор документа",
            "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendDocumentToEmailRequestDataModel"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BooleanResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/invoice/v1.0/closing-documents/{customerCode}/{documentId}/file": {
      "get": {
        "tags": [
          "Работа с закрывающими документами"
        ],
        "summary": "Get Closing Document",
        "description": "Метод для получения файла закрывающего документа",
        "operationId": "get_closing_document_invoice_v1_0_closing_documents__customerCode___documentId__file_get",
        "security": [
          {
            "Необходимые разрешения": [
              "ManageInvoiceData"
            ]
          }
        ],
        "parameters": [
          {
            "name": "customerCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный код клиента",
              "title": "Customercode"
            },
            "description": "Уникальный код клиента",
            "example": "300000092"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный идентификатор документа",
              "title": "Documentid"
            },
            "description": "Уникальный идентификатор документа",
            "example": "1cf95c4f-e794-4407-bac4-0829f19bd2be"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                },
                "examples": {
                  "Act": {
                    "summary": "Act file",
                    "X-Content-Url": "https://developers.tochka.com/tochka-api/file-response-examples/act-example.pdf"
                  },
                  "Invoicef": {
                    "summary": "Invoicef file",
                    "X-Content-Url": "https://developers.tochka.com/tochka-api/file-response-examples/invoicef-example.pdf"
                  },
                  "PackingList": {
                    "summary": "Packing List file",
                    "X-Content-Url": "https://developers.tochka.com/tochka-api/file-response-examples/packing-list-example.pdf"
                  },
                  "Upd": {
                    "summary": "Upd file",
                    "X-Content-Url": "https://developers.tochka.com/tochka-api/file-response-examples/upd-example.pdf"
                  }
                }
              }
            },
            "headers": {
              "Content-Type": {
                "schema": {
                  "type": "string"
                },
                "description": "Заголовок, содержащий MIME-type файла",
                "example": "application/pdf"
              },
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                },
                "description": "Заголовок, содержащий название файла",
                "example": "attachment; filename=document.pdf"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/open-banking/v1.0/accounts": {
      "get": {
        "tags": [
          "Работа со счетами"
        ],
        "summary": "Get Accounts List",
        "description": "Метод для получения списка доступных счетов",
        "operationId": "get_accounts_list_open_banking_v1_0_accounts_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/application__open_banking__models__external_models__AccountListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Необходимые разрешения": [
              "ReadAccountsBasic",
              "ReadAccountsDetail"
            ]
          }
        ]
      }
    },
    "/open-banking/v1.0/accounts/{accountId}": {
      "get": {
        "tags": [
          "Работа со счетами"
        ],
        "summary": "Get Account Info",
        "description": "Метод для получения информации по конкретному счёту",
        "operationId": "get_account_info_open_banking_v1_0_accounts__accountId__get",
        "security": [
          {
            "Необходимые разрешения": [
              "ReadAccountsBasic",
              "ReadAccountsDetail"
            ]
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Уникальный и неизменный идентификатор счёта",
              "title": "Accountid"
            },
            "description": "Уникальный и неизменный идентификатор счёта",
            "example": "40817810802000000008/044525104"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/open-banking/v1.0/accounts/{accountId}/authorized-card-transactions": {
      "get": {
        "tags": [
          "Работа с балансами счетов"
        ],
        "summary": "Get Authorized Card Transactions",
        "description": "Метод для получения авторизованных карточных транзакций конкретного счёта",
        "operationId": "get_authorized_card_transactions_open_banking_v1_0_accounts__accountId__authorized_card_transactions_get",
        "security": [
          {
            "Необходимые разрешения": [
              "ReadBalances"
            ]
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Идентификатор счета",
              "title": "Accountid"
            },
            "description": "Идентификатор счета",
            "example": "40817810802000000008/044525104"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CardTransactionsListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/open-banking/v1.0/accounts/{accountId}/balances": {
      "get": {
        "tags": [
          "Работа с балансами счетов"
        ],
        "summary": "Get Balance Info",
        "description": "Метод для получения информации о балансе конкретного счёта",
        "operationId": "get_balance_info_open_banking_v1_0_accounts__accountId__balances_get",
        "security": [
          {
            "Необходимые разрешения": [
              "ReadBalances"
            ]
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Идентификатор счета",
              "title": "Accountid"
            },
            "description": "Идентификатор счета",
            "example": "40817810802000000008/044525104"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/open-banking/v1.0/accounts/{accountId}/statements/{statementId}": {
      "get": {
        "tags": [
          "Работа с выписками"
        ],
        "summary": "Get Statement",
        "description": "Метод для получения конкретной выписки\n\nПосле вызова метода `Init Statement` с помощью `statementId` можно отследить,на каком этапе создание определённой выписки.\n\nЕсть три статуса:\n*Created* — создан запрос на выписку;\n*Processing* — запрос в обработке;\n*Ready* — выписка готова.\n\n**Особенности:**\nМетод *Init Statement* отрабатывает асинхронно.Отражаются только операции, находящиеся в финальном статусе — *Ready*.",
        "operationId": "get_statement_open_banking_v1_0_accounts__accountId__statements__statementId__get",
        "security": [
          {
            "Необходимые разрешения": [
              "ReadStatements"
            ]
          }
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Идентификатор счета",
              "title": "Accountid"
            },
            "description": "Идентификатор счета",
            "example": "40817810802000000008/044525104"
          },
          {
            "name": "statementId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Идентификатор выписки",
              "title": "Statementid"
            },
            "description": "Идентификатор выписки",
            "example": "123243234"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatementResponseDataModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Validation_ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__2"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPNotFoundResponse"
                }
              }
            }
          },
          "424": {
            "description": "Fail dependent service",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/common__errors_models__Something_going_wrongResponse__1"
                }
              }
            }
          },
          "500": {
            "description": "Server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/open-banking/v1.0/balances": {
      "get": {
        "tags": [
          "Работа с балансами счетов"
        ],
        "summary": "Get Balances List",
        "description": "Метод для получения баланса по нескольким счетам",
        "operationId": "get_balances_list_open_banking_v1_0_balances_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceListResponseModel"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
[...]
