{
  "openapi": "3.0.1",
  "info": {
    "title": "API Приёма платежей",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://enter.tochka.com/uapi/pay/",
      "description": "Продуктовая среда"
    }
  ],
  "tags": [
    {
      "name": "Платёж через форму мерчанта",
      "description": "Методы для проведения платежей. \n\nДля использования методов приема платежей с передачей карточных данных вам необходимо подтвердить соответствие стандарту PCI DSS. \n\nСтандарт **PCI Data Security Standard (PCI DSS)** — это международный стандарт безопасности, созданный специально для защиты данных платежных карт. Он позволяет защитить организацию от инцидентов безопасности и&nbsp;обеспечить необходимый уровень защищенности во всей платежной системе."
    },
    {
      "name": "[WIP] Платёж через форму банка",
      "description": "Раздел находится в разработке. До выхода финальной версии обратная совместимость API не гарантируется."
    },
    {
      "name": "Завершение аутентификации",
      "description": "Методы для завершения аутентификации"
    },
    {
      "name": "Подтверждение",
      "description": "Методы для подтверждения"
    },
    {
      "name": "Возвраты",
      "description": "Методы для проведения возвратов"
    },
    {
      "name": "Функциональные ссылки СБП",
      "description": "Методы для работы с Функциональными ссылками СБП"
    },
    {
      "name": "Кассовые ссылки СБП",
      "description": "Методы для работы с Кассовыми ссылками СБП"
    },
    {
      "name": "Платёжные токены",
      "description": "Методы для работы с платёжными токенами"
    },
    {
      "name": "Вебхуки",
      "description": "В разделе показана **схема декодированного содержимого JWT**."
    }
  ],
  "paths": {
    "/merchant-notifications-url/tokenization-decision": {
      "post": {
        "tags": [
          "Вебхуки"
        ],
        "summary": "Уведомление о результате выполнения привязки счёта",
        "operationId": "tokenizationDecisionNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TokenizationDecisionNotification"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/merchant-notifications-url/refund": {
      "post": {
        "tags": [
          "Вебхуки"
        ],
        "summary": "Уведомление об изменении статуса возврата",
        "operationId": "refundNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefundUpdatedNotification"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/merchant-notifications-url/payment": {
      "post": {
        "tags": [
          "Вебхуки"
        ],
        "summary": "Уведомление об изменении статуса платежа",
        "operationId": "paymentNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentUpdatedNotification"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/merchant-notifications-url/capture": {
      "post": {
        "tags": [
          "Вебхуки"
        ],
        "summary": "Уведомление об изменении статуса подтверждения",
        "operationId": "captureNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptureUpdatedNotification"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/{apiVersion}/sites/{siteUid}/sbp/qrc": {
      "post": {
        "tags": [
          "Функциональные ссылки СБП"
        ],
        "summary": "Создание Функциональной ссылки СБП",
        "description": "Создать Функциональную ссылку СБП",
        "operationId": "createQRCode",
        "parameters": [
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedRequestDTOCreateQRCodeRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QRCodeResponseDTOWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "503",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNDERLYING_SERVICE_UNAVAILABLE",
                  "Errors": [
                    {
                      "errorCode": "CONNECTION_BROKEN",
                      "message": "Service unavailable, please try operation later.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{apiVersion}/sites/{siteUid}/sbp/qrc/cash-register-qrc": {
      "post": {
        "tags": [
          "Кассовые ссылки СБП"
        ],
        "summary": "Создание Кассовой ссылки СБП",
        "description": "Создать Кассовую ссылку СБП",
        "operationId": "createCashRegisterQrCode",
        "parameters": [
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedRequestDTOCreateCashRegisterQrCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QRCodeResponseDTOWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "503",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNDERLYING_SERVICE_UNAVAILABLE",
                  "Errors": [
                    {
                      "errorCode": "CONNECTION_BROKEN",
                      "message": "Service unavailable, please try operation later.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{apiVersion}/sites/{siteUid}/sbp/qrc/cash-register-qrc/{qrcId}/activations": {
      "post": {
        "tags": [
          "Кассовые ссылки СБП"
        ],
        "summary": "Активация Кассовой ссылки СБП",
        "description": "Активировать Кассовую ссылку СБП",
        "operationId": "activateCashRegisterQrCode",
        "parameters": [
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "name": "qrcId",
            "in": "path",
            "description": "Идентификатор зарегистрированной Кассовой ссылки СБП",
            "required": true,
            "schema": {
              "pattern": "^[0-9a-zA-Z-]{1,64}$",
              "type": "string"
            }
          },
          {
            "name": "qrcIdType",
            "in": "query",
            "required": true,
            "$ref": "#/components/parameters/qrcIdType",
            "schema": {
              "type": "string",
              "enum": [
                "NSPK",
                "MERCHANT"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedRequestDTOActivateCashRegisterQrCodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivateCashRegisterQrCodeResponseDtoWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "503",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNDERLYING_SERVICE_UNAVAILABLE",
                  "Errors": [
                    {
                      "errorCode": "CONNECTION_BROKEN",
                      "message": "Service unavailable, please try operation later.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{apiVersion}/sites/{siteUid}/payments": {
      "post": {
        "tags": [
          "Платёж через форму мерчанта"
        ],
        "summary": "Создание платежа",
        "description": "Создать платёжную транзакцию",
        "operationId": "createPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/signature"
          },
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedRequestDTOCreatePaymentRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponseDTOWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "503",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNDERLYING_SERVICE_UNAVAILABLE",
                  "Errors": [
                    {
                      "errorCode": "CONNECTION_BROKEN",
                      "message": "Service unavailable, please try operation later.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{apiVersion}/sites/{siteUid}/payments/{paymentUid}/refunds": {
      "get": {
        "tags": [
          "Возвраты"
        ],
        "summary": "Статус возвратов",
        "description": "Получить статусы всех возвратов для данного платежа",
        "operationId": "getRefunds",
        "parameters": [
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "name": "paymentUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/paymentUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-]{1,64}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponseListDTOWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "503",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNDERLYING_SERVICE_UNAVAILABLE",
                  "Errors": [
                    {
                      "errorCode": "CONNECTION_BROKEN",
                      "message": "Service unavailable, please try operation later.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Возвраты"
        ],
        "summary": "Создание операции возврата",
        "description": "Запрос предназначен для возврата средств по платежу",
        "operationId": "createRefund",
        "parameters": [
          {
            "$ref": "#/components/parameters/signature"
          },
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "name": "paymentUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/paymentUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-]{1,64}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedRequestDTORefundRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RefundResponseDTOWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "503",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNDERLYING_SERVICE_UNAVAILABLE",
                  "Errors": [
                    {
                      "errorCode": "CONNECTION_BROKEN",
                      "message": "Service unavailable, please try operation later.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{apiVersion}/sites/{siteUid}/payments/{paymentUid}/complete": {
      "post": {
        "tags": [
          "Завершение аутентификации"
        ],
        "summary": "Завершение аутентификации",
        "description": "После успешного прохождения дополнительной аутентификации, ТСП необходимо отправить запрос с параметрами соответствующими типу дополнительной аутентификации для завершения проверки",
        "operationId": "completePayment",
        "parameters": [
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "name": "paymentUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/paymentUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-]{1,64}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedRequestDTOCompleteRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponseDTOWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "503",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNDERLYING_SERVICE_UNAVAILABLE",
                  "Errors": [
                    {
                      "errorCode": "CONNECTION_BROKEN",
                      "message": "Service unavailable, please try operation later.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{apiVersion}/sites/{siteUid}/payments/{paymentUid}/captures": {
      "get": {
        "tags": [
          "Подтверждение"
        ],
        "summary": "Список подтверждений платежа",
        "description": "Получить список попыток подтверждения платежа",
        "operationId": "getCaptures",
        "parameters": [
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "name": "paymentUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/paymentUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-]{1,64}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptureResponseListDTOWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "503",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNDERLYING_SERVICE_UNAVAILABLE",
                  "Errors": [
                    {
                      "errorCode": "CONNECTION_BROKEN",
                      "message": "Service unavailable, please try operation later.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Подтверждение"
        ],
        "summary": "Подтверждение платежа",
        "description": "Подтвердить платёж после холдирования средств. Данный запрос необходим для подтверждения операции при двустадийном сценарии проведения платежа.\n**Возможно только однократное успешное подтверждение платежа.**",
        "operationId": "createCapture",
        "parameters": [
          {
            "$ref": "#/components/parameters/signature"
          },
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "name": "paymentUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/paymentUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-]{1,64}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedRequestDTOCaptureRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptureResponseDTOWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "503",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNDERLYING_SERVICE_UNAVAILABLE",
                  "Errors": [
                    {
                      "errorCode": "CONNECTION_BROKEN",
                      "message": "Service unavailable, please try operation later.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{apiVersion}/sites/{siteUid}/invoices": {
      "post": {
        "tags": [
          "[WIP] Платёж через форму банка"
        ],
        "summary": "Создание счёта на оплату",
        "description": "Создать счёт на оплату",
        "operationId": "createInvoice",
        "parameters": [
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedRequestDTOCreateInvoiceRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseDTOWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "503",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNDERLYING_SERVICE_UNAVAILABLE",
                  "Errors": [
                    {
                      "errorCode": "CONNECTION_BROKEN",
                      "message": "Service unavailable, please try operation later.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{apiVersion}/sites/{siteUid}/invoices/{invoiceUid}/cancel": {
      "post": {
        "tags": [
          "[WIP] Платёж через форму банка"
        ],
        "summary": "Отмена счёта",
        "description": "Отменить ранее созданный счёт",
        "operationId": "cancelInvoice",
        "parameters": [
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "name": "invoiceUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/invoiceUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-]{1,64}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedRequestDTOCancelInvoiceRequestDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceResponseDTOWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Service Unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "503",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNDERLYING_SERVICE_UNAVAILABLE",
                  "Errors": [
                    {
                      "errorCode": "CONNECTION_BROKEN",
                      "message": "Service unavailable, please try operation later.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/{apiVersion}/sites/{siteUid}/card-token-operations": {
      "post": {
        "tags": [
          "Платёжные токены"
        ],
        "summary": "Операции с платёжным токеном карты",
        "description": "Выполняет операции с платёжным токеном карты",
        "operationId": "handleCardTokenOperation",
        "parameters": [
          {
            "name": "siteUid",
            "in": "path",
            "required": true,
            "$ref": "#/components/parameters/siteUid",
            "schema": {
              "pattern": "^[0-9a-zA-Z-_]{1,64}$",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/authorizationHeader"
          },
          {
            "name": "apiVersion",
            "in": "path",
            "description": "Версия API",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "v1.0"
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WrappedRequestDTOCardTokenOperationDTO"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnitWrapped"
                }
              }
            }
          },
          "400": {
            "description": "HTTPBadRequest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "400",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "REQUEST_VALIDATION_ERROR",
                  "Errors": [
                    {
                      "errorCode": "data.amount",
                      "message": "Incorrect operation amount. Should have correct number of fraction digits for currency RUB.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "401",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INVALID_TOKEN",
                  "Errors": [
                    {
                      "errorCode": "TOKEN_EXPIRED",
                      "message": "The token is expired, issue a new one",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "403",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_FORBIDDEN",
                  "Errors": [
                    {
                      "errorCode": "SIGNATURE_VERIFICATION_ERROR",
                      "message": "Invalid signature format",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "404",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "ENTITY_NOT_FOUND",
                  "Errors": [
                    {
                      "errorCode": "MERCHANT_SITE_NOT_FOUND",
                      "message": "Can not found merchant site with siteUid:<Some site uid>.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "423": {
            "description": "Locked",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "423",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "OPERATION_LOCKED",
                  "Errors": [
                    {
                      "errorCode": "PAYMENT_LOCKED",
                      "message": "Payment with paymentUid:<some payment uid> already locked by parallel operation.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "500",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "INTERNAL_ERROR",
                  "Errors": [
                    {
                      "errorCode": "CARD_PROCESSING_ERROR",
                      "message": "Unexpected error on card processing side.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponseDTO"
                },
                "example": {
                  "code": "501",
                  "id": "c397b21a-d998-4c4d-9471-e60eaf816b87",
                  "message": "UNSUPPORTED_OPERATION",
                  "Errors": [
                    {
                      "errorCode": "UNSUPPORTED_PAYMENT_METHOD",
                      "message": "Payment method APPLE_PAY not supported by processing.",
                      "url": "https://enter.tochka.com/uapi/pay"
                    }
                  ]
                }
[...]
